message_control/target/classes/message_control.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="1212" doc:name="HTTP Listener Configuration"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="eaisystems" database="training" doc:name="MySQL Configuration"/>
    <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File">
        <file:expression-filename-parser/>
    </file:connector>
    <file:connector name="File1" autoDelete="true" streaming="true" validateConnections="true" doc:name="File">
        <file:expression-filename-parser/>
    </file:connector>
    <flow name="message_controlFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="post" doc:name="HTTP"/>
        <set-variable variableName="destination" value="#[message.inboundProperties.'http.query.params'.destination]" doc:name="destination"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.destination == 'Email']">
                <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="eaitest19@gmail.com" password="eaisystems" connector-ref="Gmail" to="pushkar.a.chavan@gmail.com" from="eaitest19@gmail.com" subject="pdf" responseTimeout="10000" doc:name="SMTP"/>
            </when>
            <when expression="#[flowVars.destination == 'database']">
                <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                    <db:parameterized-query><![CDATA[INSERT INTO pload (name,size,type,content) values ('1',#[message.inboundAttachments.size()],'pdf',#[message.inboundAttachments.'ab'.dataSource.content])]]></db:parameterized-query>
                </db:insert>
            </when>
            <when expression="#[flowVars.destination == 'file']">
                <expression-transformer expression="#[message.inboundAttachments.'ab'.dataSource.content]" doc:name="Expression"/>
                <file:outbound-endpoint path="D:\Users\One\Desktop\PAC" outputPattern="ab.pdf" connector-ref="File1" responseTimeout="10000" doc:name="File"/>
            </when>
            <when expression="">
                <vm:outbound-endpoint exchange-pattern="one-way" connector-ref="VM" doc:name="VM">
                    <vm:transaction action="NONE"/>
                </vm:outbound-endpoint>
            </when>
            <otherwise>
                <logger message="error" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <logger message="complete" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
